<% include userHeader %>
<script type="text/javascript" src="jquery.js"></script>

<style>
ul.menu{list-style-type:none;}
ul.menu li{ display:inline;}
img.backg{height:90px; width:105px; border:5px solid #333333; padding:2px;-moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 cursor:pointer;
 margin:5px;
 opacity:100%;
}
img.backg:hover{border-color:#990099;}
}
</style>

<script type="text/javascript">
var id;
$(function(){
 $('body').fadeIn('slow');
 $("img.image_off",this).stop().animate({"opacity": "0"}, 500);
 $('ul.menu').find('img.backg').click(function(){
 	$(this).fadeTo('fast', 0.7);
    $('body').css({ 'background-image' : 'url('+$(this).attr('src')+')' });
    $(this).fadeTo('fast', 1);
    id=$(this).attr("id");
  });
  $('#Submit').click(function () {        
    var string = $("body").css("background-image");
    $('<input type="hidden" name="bName" value='+string+' type="text" maxlength="16" />').appendTo("form");
  });

});

</script>

<% include navbar %>
	<h1 class="elem">Change Background:</h1>
	<div class="changeB">
         <div id="main">
           <div>
              <ul class="menu">
                 <li><img class="backg" id="colorful-background-2.jpg" src="../images/colorful-background-2.jpg"/></li>
                 <li><img class="backg" id="colorful-background-3.jpg" src="../images/colorful-background-3.jpg"/></li>
                 <li><img class="backg" id="colorful-background-4.jpg" src="../images/colorful-background-4.jpg"/></li>
                 <li><img class="backg" id="colorful-background-5.jpg" src="../images/colorful-background-5.jpg"/></li>
                 <li><img class="backg" id="colorful-background-6.jpg" src="../images/colorful-background-6.jpg"/></li>
                 <li><img class="backg" id="" src="/images/whitepage.jpg"/></li>
                 <form name="input" id="form" action="/saveBackground" method="post">
                         <input type="submit" id="Submit" name="submit" value="Save"></li>
                 </form>
                 <li>
              </ul>
           </div>
         </div>
	</div>
<% include footer %>