<% include userHeader %>
<% include navbar %>
<div class = "center">
    <div id="leftContainer">
     <h1>Chatbox</h1>
     <div id="chat-app">  
        <p id= <%= loggedInUser %> name=loggedInUser >
        <br>
		<textarea id="chat-text-area" rows="5" cols="50"></textarea>
		<br>
		<input id="chat-post-button" type="submit" value="Post">
		<ul id="message-list">
		<% for (var i= messageList.length-1; i>-1; i--){ %>
		    <li> <%= messageList[i]%> </li>
		<% } %>
		</div> 

	</div>
	<div id="rightContainer">
	    <h2>Online Users</h2>
	    <ul id="onlineUsers">
	    <% for(var i = 0; i < Object.keys(online).length+2; i++){ %>
	      <% if (online[i] !== undefined){%>
             <li> <%= online[i].username %> </li>
          <% } %>
	    <% } %>
	    </ul>
	</div>
</div>
<% include footer %>
