
<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
		<div id="viewFOption">
			<p>
				<a href="follower"><font color="gray"><b>Follower</b></font></a><br>
				<font color="gray">------------------------------</font><br>
<<<<<<< HEAD
				<b>Following</b><br>
=======
				<a href="following"><font color="black"><b>Following</b></font></a><br>
>>>>>>> unfollow button on following page is working
			</p>
		</div>	
		<div id="trendHashtags">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">		
		<div id="userListContainer">
			<h2>Following:</h2>
			<%-content%>
			
		</div>
	</div>

</div>

<% include footer %>