<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
			
		<div id="trendHashtags">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">
		<div id="tweetListContainer">
			<h2>Mentions:</h2>
			<%- tweets %>
		</div>
	</div>
	
	<div id="loggedInUser">
	<center> 
	<hr />
	Logged in user: <%= loggedInUser %>
	</center>
	</div>

</div>
<% include footer %>