<% include userHeader %>
<% include navbar %>
<div class = "center">
    <div id="leftContainer">
     <h1>Private Message</h1>
     <div id="pm-app">      
        <p>Add FollowerList Here: Top 20?</p> 
        <ul id="followerList">
	    <% for(var i = 0; i < pmfollowers.length+1; i++){ %>
	      <% if (pmfollowers[i] !== undefined){%>
             <li> <%= pmfollowers[i] %> </li>
          <% } %>
	    <% } %>
	    </ul>

	 </div> 

	</div>
	<div id="rightContainer">
	    <p id= <%= loggedInUser %> name=loggedInUser >
	    <p>To:</p>
	    <textarea id="other-user-area" rows="1" cols="10"></textarea>
        <br>
        <p>message:</p>
		<textarea id="pm-text-area" rows="5" cols="50"></textarea>
		<br>
		<input id="pm-post-button" type="submit" value="submit">
		<ul id="message-list">
		<% for (var i= messageList.length-1; i>-1; i--){ %>
		    <li> <%= messageList[i]%> </li>
		<% } %>
	</div>
</div>
<% include footer %>