<% include header %>
<h1>Search Result Page</h1>
<ul>
  <li><a href="/example.html">Example 0 - CSS, JS, &amp; HTML</a></li>
  <li><a href="/onload-bad.html">Example 1 - Bad: No OnLoad Event</a></li>
  <li><a href="/onload-good.html">Example 2 - Good: With OnLoad Event</a></li>
</ul>

<h1>CSS Basic Examples</h1>
<ul>
  <li><a href="css/0">Example 0 - Style</a></li>
  <li><a href="css/1">Example 1 - Padding</a></li>
  <li><a href="css/2">Example 2 - Margins</a></li>
  <li><a href="css/3">Example 3 - Element Background Image</a></li>
  <li><a href="css/4">Example 4 - Fixing the Background Image</a></li>
  <li><a href="css/5">Example 5 - Fixing the Padding &amp; Margins</a></li>
  <li><a href="css/6">Example 6 - Using Id's</a></li>
</ul>

<h1>Client to Server and Back Again</h1>
<ul>
  <li><a href="form/0">Example 0 - Simple Form With GET</a></li>
  <li><a href="form/1">Example 1 - Simple Form With POST</a></li>
</ul>

<h1>Application Documentation</h1>
<ul>
<li><a href="/docs/users/users.js.html">Users Library Documentation</a></li>
</ul>
<% include footer %>
