<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/userStyle.css' />
  </head>
  <body>
  	<div id="loggedInUser">
	  <center> 
		Logged in user: <%= loggedInUser %> [<a href="/logout">Logout</a>]
	  </center>
    </div>