<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/userStyle.css' />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="/javascripts/tohtml.js"></script>
  </head>
  <body>
  	<div id="loggedInUser">
	  <center> 
		Logged in user: <%= loggedInUser %> [<a href="/logout">Logout</a>]
	  </center>
    </div>