<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/userStyle.css' />
	<script src="/javascripts/tohtml.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/chat.js"></script>
  <style>
       body{background-image: <%= background %>}
  </style>
  <!--  page fade-in/out
  <script>
   var speed = 50;
   $('html, body').hide();
   $('html, body').fadeIn(speed);

   $('html, body').fadeIn(speed, function() {
        $('a[href], button[href]').click(function(event) {
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0 || url.indexOf('javascript:') == 0) return;
            event.preventDefault();
            $('html, body').fadeOut(speed, function() {
                window.location = url;
            });
        });
      });

  </script>-->
  <style>
      .fade{ 
          padding:0 23px 0 0;
       }
  </style>

  </head>
  <body bgproperties="fixed">
  	<div id="loggedInUser">
    </div>