    <% include entryheader %>
    <div class="entryBody" >
       <div class="entryCSS">
        <h1>Tweetee</h1>
          <h3>Verification Page</h3>
          <p>Please enter the code that was sent out to the email provided.</p>
          <%= message %>
          <form method="post" action="/codeCheck">
             Code: <input type="text" name="code"/><br/>
             <input type="submit" value="Submit"/>
          </form>
       </div>
    </div>
    <% include footer %>