body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
	margin:auto;
	width:90%;
}

/* CSS for editing user settings */
#formSettings {
	margin: 30px;
}

#formSettings p { 
	padding-left: 20px;
}

/* CSS for editing user profile */
#allEditProfile {
	width: inherit;
	height: 300px;
	padding: 25px;
}

#editInfo {
    float: left;
}

#allEditProfile table { 
	empty-cells: show; 
}

#editImg {
    float: right;
}

#submitEditProfile {
	padding: 25px;
	float: right;
}

/* CSS for search result page */
#searchResultCategory {
	padding-bottom: 20px;
	height: 200px;
	border-bottom: 2px solid gray;
	font-size: 125%;
}

#searchResults {
	min-height: 400px;
}

#searchResults h3 {
    padding-left: 20px;
}

/* CSS for individual tweets */

.tweetSearchResult {
    margin-left: 40px;
	padding-left: 20px;
	border-bottom: 1px solid gray;
}

/* CSS for user home and profile */
#leftContainer {
	margin: 30px;
	width: 35%;
	min-height: 500px;
	float: left;
}

#rightContainer {
	margin: 30px;
	padding-left: 20px;
	width: 50%;
	min-height: 500px;
	float: right;
	border-left: 2px dotted gray;
}

#userStats {
	padding-bottom: 20px;
	height: 200px;
	border-bottom: 2px solid gray;
}

#trendHashtags {
	min-height: 300px;
}

#composeTweetBox {
	margin-bottom: 20px;
	padding-bottom: 20px;
	min-height: 100px;
	border-bottom: 2px solid gray;
} 

#tweetListContainer {
    min-height: 400px;
}  

/* CSS for user follower and following */
#viewFOption {
	padding-bottom: 20px;
	height: 100px;
	border-bottom: 2px solid gray;
	font-size: 125%;
}

#viewFOption  a {
	text-decoration: none;
	color: black;
}

#viewFOption  a:hover {
	text-decoration: underline;
	color: black;
}

#userListContainer {
	min-height: 400px;
}

/* CSS for help */
li.question {
	text-decoration: underline;
	font-weight: bold;
}

/* CSS for detailed tweet */
.center2 {
	margin:auto;
	width:50%;
}

#userInfo {
	padding-top: 20px;
	height: 150px;
	border-bottom: 2px solid gray;
}

/* CSS for logged in user - Project 3 requirement */
#loggedInUser {
	position: absolute;
	padding-top: 1000px;
}

#loggedInUser hr {
	width: 1000px;
}

/* CSS for nav bar */
#navbar {
    background-color:    #45c7b1;
	height:				 35px;
	margin-left:		 10px;
	margin-right:		 10px;
	width:				 100%;
}

#nbleft {
	vertical-align:		 middle;
	height:				 inherit;
	width:		 		 40%;
	float: 				 left;
}

#nbcenter1 {
	vertical-align:		 0px;
	height:				 inherit;
	float:				 left;
	width:				 20%;
}

#nbcenter2 {
	vertical-align:		 0px;
	height:				 inherit;
	float:				 left;
	width:				 20%;
}

#nbright {
	vertical-align:		 middle;
    height:              inherit;
    float:               right;
}




#ubox_profilepic {
    margin-top: 50px;
    margin-left: 10%;
    float: left;
}

#ubox_info {
    margin-top: 60px;
    margin-left: 30px;
	height: 60px;
	width: 300px;
	float: left;
}
